
@media screen and (max-width:1024px) {
    .grid_5{
        grid-template-columns: repeat(4,auto);
    }
}

@media screen and (max-width:768px) {
    .grid_5{
        grid-template-columns: repeat(2,auto);
    }
    .image_carousel{
        height: 320px;
    }
}

@media screen and (max-width:480px) {
    .grid_5{
        grid-template-columns: repeat(1,auto);
    }
    .wrapper_item{
        display: block;
    }
    .box_item a{
        display: flex;
    }
    .img_item{
        width: 100px;
        height: 68px; 
    }
    .box_item p{
        margin-left: 12px;
    }
}
